---
import type {IExperience} from "../../scripts/types";

const {image, company, position, date} = Astro.props as IExperience;
---

<article
  style={`background-image: url(/${image}.webp)`}
  class="bg-no-repeat bg-cover bg-center bg px-8 py-4 rounded-xl text-white w-full"
>
  <p>
    <span class="font-bold">{company}</span> | {date}
  </p>

  <h3>{position}</h3>
</article>
