---
import Button from "../UI/Button.astro";

import JS from "../icons/JS.astro";
import CSS from "../icons/CSS.astro";
import HTML from "../icons/HTML.astro";
import React from "../icons/React.astro";
import Express from "../icons/Express.astro";
import Nodejs from "../icons/Nodejs.astro";
import MySQL from "../icons/MySQL.astro";
// import Tailwind from "../components/icons/Tailwind.astro";
// import Astro from "../components/icons/Astro.astro";
// import Node from "../components/icons/Node.astro";
// import TypeScript from "../components/icons/TypeScript.astro";
// import Express from "../components/icons/Express.astro";

const TECH = {
  JS: {
    name: "JavaScript",
    class:
      "flex gap-2 items-center rounded-full px-3 py-1 bg-amber-300/50 w-fit",
    icon: JS,
  },
  CSS: {
    name: "CSS",
    class:
      "flex gap-2 items-center rounded-full px-3 py-1 bg-blue-400/50 w-fit",
    icon: CSS,
  },
  HTML: {
    name: "HTML",
    class:
      "flex gap-2 items-center rounded-full px-3 py-1 bg-orange-600/50 w-fit",
    icon: HTML,
  },
  React: {
    name: "React",
    class: "flex gap-2 items-center rounded-full px-3 py-1 bg-sky-400/50 w-fit",
    icon: React,
  },
  Nodejs: {
    name: "Nodejs",
    class: "flex gap-2 items-center rounded-full px-3 py-1 bg-green-300/50 w-fit",
    icon: Nodejs,
  },
  Express: {
    name: "Express",
    class: "flex gap-2 items-center rounded-full px-3 py-1 bg-gray-500/50 w-fit",
    icon: Express,
  },
  MySQL: {
    name: "MySQL",
    class: "flex gap-2 items-center rounded-full px-3 py-1 bg-sky-200/50 w-fit",
    icon: MySQL,
  },
};

type Technologies = "JS" | "CSS" | "HTML" | "React" | "Nodejs" | "Express" | "MySQL";

interface Props {
  img: {
    url: string;
    alt: string;
  };
  title: string;
  inputStack: Technologies[];
  description: string;
  preview: {
    url: string;
    label: string;
  };
}

const { img, title, inputStack, description, preview }: Props = Astro.props;

let stack = inputStack.map((element) => {
  return TECH[element];
});
---

<article class="flex md:flex-row flex-col md:items-center gap-8 mb-10">
  <img
    loading="lazy"
    src={img.url}
    alt={img.alt}
    class="aspect-video md:w-[50%] w-full object-cover object-left max-w-full rounded-xl grow ring-1 ring-[--color-contrast] shrink-0"
  />
  
  <div class="grow">
    <h3 class="text-2xl mb-4">{title}</h3>

    <div class="mb-4 flex gap-3 flex-wrap">
      {
        stack.map((element) => {
          return (
            <small class={element.class}>
              <element.icon size="15" />
              {element.name}
            </small>
          );
        })
      }
    </div>

    <p class="max-w-[35rem] text-pretty mb-4">{description}</p>

    <Button
      url={preview.url}
      label={preview.label}
      target="_blank"
      level="main"
    />
  </div>
</article>
