---

import Image from "astro/components/Image.astro";
import ButtonsContainer from "../UI/ButtonsContainer.astro";
import Button from "../UI/Button.astro";
import Techs from "./Techs.astro";

import type { IProject } from "../../scripts/types";

const { img, title, inputStack, description, preview } = Astro.props as IProject;
---

<article class={"project grid grid-cols-2 gap-16 h-fit mb-16"}>
  <a href={preview.url} target="_blank" class="magic-image aspect-[4/3] w-full object-cover object-left max-w-full rounded-xl relative overflow-hidden">
    <Image
      loading="eager"
      src={img.url}
      alt={img.alt}
      class="image aspect-[4/3] w-full object-cover object-left absolute left-0 right-0 bottom-0 top-28 m-auto transition-all ease-in-out"
    />
  </a>
  
  <div class="flex flex-col justify-center">
    <h3 class="mb-4">{title}</h3>

    <Techs inputStack={inputStack} />

    <p class="max-w-[35rem] text-pretty">{description}</p>

    <ButtonsContainer>
      <Button
        url={preview.url}
        label={preview.label}
        target="_blank"
        level="main"
      />

      <!-- <Button
        url={`/projects/${title.toLowerCase()}`}
        label="More info"
        target=""
        level="low"
      /> -->
    </ButtonsContainer>
  </div>
</article>